.about-us {
  width: 260px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 35px;
  margin-bottom: 6px;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.about-us__list {
  @include kill-indents();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
}

.about-us__item {
  @include kill-indents();
  padding-top: 10px;
  margin-bottom: 18px;

  line-height: 20px;
  font-weight: 700;

  &--last-child {
    margin-bottom: 0;
  }
}

.about-us__text {
  @include kill-indents();
  margin-top: 13px;
}

.about-us__item svg {
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
}

.about-us__item path {
  fill: #63d1bb;
}

.about-us__item--flower svg {
  left: 7px;
  margin-bottom: 0;
}

.about-us__item--heart svg {
  top: 6px;
  left: 6px;
  margin-bottom: 10px;
}

.about-us__item--clew svg {
  top: 2px;
  left: 2px;
  margin-bottom: 4px;
}

.about-us__item--rocket svg {
  top: 3px;
  left: -5px;
  margin-bottom: 13px;
}

.about-us__item--gift svg {
  top: 3px;
  left: 3px;
  margin-bottom: 7px;
}

@media (min-width: $tablet-width) {
  .about-us {
    min-width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 9px;
  }

  .about-us__title {
    @include kill-indents();
    margin-bottom: 37px;
    font-size: 43px;
    line-height: 50px;
    letter-spacing: -1px;
    word-spacing: 2px;
  }

  .about-us__list {
    flex-direction: row;
  }

  .about-us__item {
    box-sizing: border-box;
    width: 50%;
    padding-right: 30px;
    margin-bottom: 46px;

    font-size: 20px;
    line-height: 22px;
    order: 5;

    &--flower {
      order: 1;
    }

    &--clew {
      order: 2;
    }

    &--money {
      order: 3;
    }

    &--rocket {
      order: 4;
    }
  }

  .about-us__item--gift svg {
    margin-bottom: 2px;
  }

  .about-us__item--heart svg {
    margin-bottom: 7px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: 700px;
    padding-top: 33px;
    padding-right: 175px;
    padding-left: 175px;
    margin-bottom: 15px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
}
