.footer-social {
  margin-bottom: 42px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  @include kill-indents();
  list-style: none;
}

.footer-social__item {
  @include kill-indents();
  margin-right: 34px;

  &--last-child {
    margin-right: 0;
  }
}

.footer-social__link {
  display: block;

  width: 23px;
  height: 23px;

  background-repeat: no-repeat;

  &--instagram {
    background-image: url("../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
    height: 29px;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }
}

@media (min-width: $tablet-width) {
  .footer-social {
    margin: 0;
  }

  .page-footer__logo-image {
    width: 105px;
    height: 44px;
  }
}
