.overview {
  background-color: #fcfcfc;
  width: 320px;
  margin: 0 auto;
}

.overview__wrapper {
  min-height: 209px;
  padding-top: 72px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -10px;
  background-repeat: no-repeat;
}

.overview__title {
  @include kill-indents();
  max-width: 260px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.overview__link path {
  fill: #149080;
}

.overview__link svg {
  position: relative;
  top: -4px;
  opacity: 0.5;
}

.overview__link:hover svg {
  opacity: 0.7;
}

.overview__link:active svg {
  opacity: 0.3;
}

.overview__link {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 27px;
  padding-top: 27px;
  padding-bottom: 15px;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;

  &--luster {
    background-color: #63d1bb;
    padding-right: 35px;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.overview__link:hover:nth-child(1) {
  background-color: #59d5bc;
}

.overview__link:hover:nth-child(2) {
  background-color: #46c1ae;
}

.overview__link:active .overview__text {
  opacity: 0.3;
}

.overview__text {
  display: block;
  width: 50%;
}

.overview__link-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .overview__wrapper {
    min-height: 472px;
    padding-top: 85px;
    background-size: 170%;
    background-position: center -70px;
    background-repeat: no-repeat;
  }

  .overview__link-wrapper {
    flex-direction: row;
  }

  .overview__link {
    padding-top: 29px;
    padding-bottom: 20px;
    padding-left: 35px;
    width: 50%;
    font-size: 20px;
    line-height: 30px;

    &--luster {
      padding-right: 32px;
    }
  }

  .overview__title {
    max-width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  .overview {
    min-width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .overview__link svg {
    top: 2px;
    left: -6px;
  }
}

@media (min-width: $desktop-width) {
  .overview__title {
    max-width: 700px;
    font-size: 53px;
    line-height: 57px;
  }

  .overview__wrapper {
    min-height: 473px;
    padding-top: 84px;
  }

  .overview {
    min-width: 1050px;
    margin-bottom: 75px;
    padding-bottom: 15px;
  }

  .overview__link {
    padding-bottom: 13px;
  }

  .overview__text {
    width: 130px;
  }
}
