.page-footer {
  background-color: #f1f1f1;
}

.page-footer__main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 30px;
}

.page-footer__link {
  display: flex;
}

.page-footer__wrapper {
  position: relative;
}

.page-footer__wrapper::before {
  content: "";

  position: absolute;
  height: 1px;
  width: 250px;
  background: #e5e5e5;
  top: -19px;
  left: -30px;
}

.page-footer__developed {
  margin-right: 30px;
  align-self: center;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.page-footer__link:active {
  opacity: 0.3;
}

.page-footer__logo {
  display: none;
}

.page-footer__image {
  margin-top: 5px;
}

.page-footer__image path {
  fill: #63d1bb;
}

.page-footer__link:hover path {
  fill: #46c1ae;
}

.page-footer__logo-link:hover path {
  fill: #46c1ae;
}

.page-footer__logo-link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer__main-wrapper {
    flex-direction: row;
    justify-content: space-between;

    width: 668px;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 46px;
  }

  .page-footer__logo {
    display: block;
    margin-top: -3px;
    margin-right: 70px;
  }

  .page-footer__wrapper::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__main-wrapper {
    width: 1050px;
  }
}
