.page-header {
  padding-top: 21px;
  width: 320px;
  margin: 0 auto;
  border-top: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-width: 768px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    min-width: 1150px;
  }
}
