.products {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.products__list {
  @include kill-indents();

  list-style: none;
}
.products__item {
  @include kill-indents();
  margin-bottom: 31px;

  &--last-child {
    margin-bottom: 0;
  }
}
.products__name {
  display: block;
  margin-bottom: 5px;

  font-weight: 700;
  color: #000000;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
.products__description {
  @include kill-indents();
  font-size: 13px;
  line-height: 30px;
  color: $dark-gray;
}
.products__price {
  font-size: 15px;
  font-weight: 700;
}
.products__wrapper {
  padding: 0 30px;
}
.products__image {
  margin-bottom: 22px;
}
.products__header-wrapper {
  margin-bottom: 18px;
}
.products__footer-wrapper {
  padding-top: 23px;
  padding-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .products {
    min-width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 60px;
  }

  .products__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 53px;
  }

  .products__image {
    margin: 0;
    width: 334px;
    height: auto;
  }
  .products__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 278px;
    padding-right: 26px;
    padding-top: 27px;
    padding-left: 26px;
    border: 2px solid #ececec;

  }
  .products__footer-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
  }
  .products__name {
    width: 240px;
    font-size: 20px;
    line-height: 24px;
  }
  .products__description {
    font-size: 15px;
  }
  .products__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    min-width: 1050px;
    margin-top: 118px;
  }
  .products__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .products__image {
    width: 100%;
    height: auto;
  }
  .products__item {
    flex-direction: column;

    width: 315px;
    height: 100%;
    min-height: 660px;
  }
  .products__wrapper {
    box-sizing: border-box;
    padding-top: 25px;

    width: 100%;
    height: 100%;
  }
  .products__footer-wrapper {
    padding-left: 0;
    margin-top: auto;
  }
}
