.site-navigation {
  position: relative;
  z-index: 1;
  width: 100%;
}

.site-navigation__logo {
  display: block;
  margin-bottom: 17px;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-navigation__logo-image {
  width: 86px;
  height: 35px;
}

.site-navigation__list {
  @include kill-indents();
  list-style: none;
  /*
  &--site {
    display: none;
  }

  &--new {
    display: none;
  }

  &--user {
    display: none;
  }*/
}

.site-navigation__list--new {
  display: none;
}

.site-navigation__icon {
  position: absolute;
  top: 31px;
  left: 31px;

  fill: rgba(35, 31, 32, 0.2);
}

.site-navigation__delivery {
  display: none;
}

.site-navigation__button {
  position: absolute;
  top: 0;
  right: 0;
}

.site-navigation__link {
  @include kill-indents();
  position: relative;
  display: block;
  padding-top: 25px;
  padding-left: 76px;
  padding-bottom: 29px;

  color: #000000;
  font-weight: bold;
  text-decoration: none;

  border-top: 1px solid #ececec;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-navigation {
    width: auto;

    display: flex;
    flex-wrap: wrap;
  }

  .site-navigation__logo-image {
    width: 113px;
    height: 46px;
  }

  .site-navigation__logo {
    margin: 0;
    margin-right: auto;
    margin-left: -3px;
    padding-top: 21px;

    order: -2;
  }

  .site-navigation__list--user {
    display: flex;
    flex-wrap: wrap;
    width: 350px;

    order: -1;
  }

  .site-navigation__list--user .site-navigation__item {
    border-left: 1px solid #ececec;
  }

  .site-navigation__list--user .site-navigation__link {
    padding-top: 30px;
    padding-bottom: 32px;
    padding-left: 83px;

    border: none;
  }

  .site-navigation__list--site {
    display: flex;
    flex-wrap: wrap;
    width: 336px;
    margin-right: auto;
  }

  .site-navigation__list--new {
    display: none;
  }

  .site-navigation__delivery {
    display: block;
    width: 264px;
    margin-left: auto;
    padding-top: 17px;
    font-size: 15px;

    text-align: right;
  }

  .site-navigation__icon--search {
    padding-top: 5px;
    padding-left: 2px;
  }

  .site-navigation__list--site .site-navigation__link {
    padding-top: 17px;
    padding-right: 34px;
    padding-bottom: 35px;
    padding-left: 0;

    font-size: 15px;
    line-height: 24px;

    border: none;
  }

  .site-navigation__item--search .site-navigation__link {
    padding-top: 32px;
    padding-bottom: 55px;
  }

  .site-navigation__search-text {
    display: none;
  }

}

@media (min-width: $desktop-width) {
  .site-navigation__logo {
    margin: 0 auto;
    padding-top: 8px;
  }

  .site-navigation__logo-image {
    width: 149px;
    height: 72px;
  }

  .site-navigation__list--site .site-navigation__link {
    padding-top: 31px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;

    font-size: 17px;
  }

  .site-navigation__list--site .site-navigation__item:nth-child(odd) {
    width: 184px;

    border-right: 1px solid #ececec;
  }

  .site-navigation__list--site .site-navigation__item:nth-child(even) {
    width: 194px;
  }

  .site-navigation__list--site .site-navigation__link--last-child {
    padding-left: 34px;
  }

  .site-navigation__list {
    width: 410px;

    &--site {
      order: -5;
    }

    &--user {
      margin-left: auto;
    }

    &--new {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .site-navigation__list--user {
    justify-content: flex-end;
  }

  .site-navigation__list--new .site-navigation__link {
    padding-top: 17px;
    padding-right: 35px;
    padding-bottom: 30px;
    padding-left: 0;

    font-size: 15px;
    line-height: 24px;
  }

  .site-navigation__list--new .site-navigation__link--last-child {
    padding-left: 25px;
  }
}
