.about-us {
  padding-top: 35px;
  margin-bottom: 60px;
}
.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}
.about-us__list {
  @include kill-indents();
  list-style: none;
}
.about-us__item {
  @include kill-indents();
  margin-bottom: 85px;

  line-height: 30px;
  font-weight: 700;

  &--last-child {
   margin-bottom: 0;
  }
}
