.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  @include kill-indents();
  list-style: none;
}
.footer-social__item {
  @include kill-indents();
  margin-right: 41px;

  &--last-child {
    margin-right: 0;
  }
}
.footer-social__link {
  display: block;

  width: 23px;
  height: 23px;

  background-repeat: no-repeat;

  &--instagram {
    background-image: url("../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
    height: 29px;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }
}
