.page-main__title {
  @include kill-indents();

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;

  padding: 73px 0 74px 0;
  background-color: #f1f1f1;
}
@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 43px;
    line-height: 50px;

    padding-top: 27px;
    padding-bottom: 67px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 82px;
  }
}
