.page-footer {
  padding-top: 30px;
  background-color: #f1f1f1;
}
.page-footer__wrapper {
  padding: 27px 0 30px;
}
.page-footer__developed {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}

