.products {
  padding-top: 30px;
  margin-bottom: 30px;
}
.products__list {
  @include kill-indents();

  list-style: none;
}
.products__item {
  @include kill-indents();
  margin-bottom: 30px;
}
.products__item {
  &--last-child {
    margin-bottom: 0;
  }
}
.products__name {
  font-weight: 700;
  color: #000000;

  text-decoration: none;
}
.products__description {
  font-size: 13px;
  line-height: 30px;
  color: $dark-gray;
}
.products__price {
  font-size: 15px;
  font-weight: 700;
}
.products__wrapper {
  padding: 0 30px;
}
