.products {
  padding-top: 30px;
  margin-bottom: 30px;
}
.products__list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.products__item {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.products__item:nth-last-child(1) {
  margin-bottom: 0;
}
.products__name {
  font-weight: 700;
  color: #000000;

  text-decoration: none;
}
.products__description {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
.products__price {
  font-size: 15px;
  font-weight: 700;
}
.products__wrapper {
  padding: 0 30px;
}
